<!-- <md-button ng-class="{\'{{section.icon}}\' : true}" ui-sref-active="active" ui-sref="{{section.state}}" ng-click="focusSection()">
  {{section | humanizeDoc}}
    <span class="md-visually-hidden" ng-if="isSelected()">current page</span></md-button> -->



<h3>Board Name</h3>


<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' accept="image/*" fileread="fileupload" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>


<hr>


<h2>Upload Url</h2>

<div class="">
  <input type="text" name="name" value="url" ng-model='url'>
  <button type="button" name="button" ng-click='addImageUrl(url)'>Submit</button>
</div>


<h3>Board list</h3>
